# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.metadata/.lock
.metadata/.plugins/org.eclipse.core.resources/.history/10/7091ebd2c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/12/30941ed4ba10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/12/505ba971c910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/13/c048b16fb110001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/15/d06f128a5c12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/17/20a575f9b010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/1a/4046323eb210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/1b/103dc7355312001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/1d/90541b5a5712001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/2/801c9b56ac10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/2/b029be46d910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/2a/90a76456ca10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/2c/703e08d84f12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/3/704afe67dd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/33/d0169a38cc10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/34/40861189ca10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/36/0094ac3cdb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/38/103f767a5312001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/38/304df235bd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/38/a066d280cc10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/3c/10bfa871c910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/3c/707decf2b310001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/3f/705b9417d210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/3f/d06e050eca10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/43/a0e99a44db10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/44/b0c7a93b5412001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/45/90aa1250cf10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/47/f055948ed110001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/4b/108776605712001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5/10113cc1bc10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/52/10dfc238cd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/52/f0aff097d010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/53/00c3521bd210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/53/e0bca635cb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/55/c0d095d75312001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5a/c06979e4b210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5c/b00194325712001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5d/20e578c0dd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5d/e045af5c5712001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5e/e0970e26cf10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/5f/b03ab0f84f12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/62/103d50f4bc10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/63/50583c2d5e12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/69/30b46a45c410001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/6c/6002155b4d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/6c/d0ab6fccaa10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/6e/90692cc1d010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/72/909e6a89d110001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/72/f03722f4ab10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/77/70374e61ac10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/8/50c58ddedb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/81/50a32126d210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/82/6033b4b25c12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/83/50d9c7355312001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/83/f0827cf9b010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/84/90f049d8c910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/88/00214ecace10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/8a/502090b45112001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/8e/1085a170c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/8e/b0d0bb6ac510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/93/70e96622cb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/97/a083686a5112001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/9a/50269a44db10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/9d/208493eccf10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/9f/409595cf5d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/9f/c033e4aab210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a1/30d898cbc810001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a3/0098906fca10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a4/90a7cd5fd010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a5/409a430bcb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a5/606fab145e12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a5/c0fb9877be10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a7/20940c0abb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/a7/80ff8b0aca10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ab/b03fc810c710001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ac/3085392dc910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ac/50aae229cf10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b1/c046d3c4aa10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b2/5013f520b210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b2/c01bc238cd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b2/f091ce5fd010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b4/80786490c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b4/e0d38c04c310001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b7/e0c89281aa10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/b9/c07e5a0f4f12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/bb/90ad044a5712001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/bc/80ec5535c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/bc/b05c62f35312001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/bd/e0b4c26acd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/bd/f0bc9f3b5112001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/be/80e27df9b010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/c0/a0ec0f29b110001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/c7/207f5cd7d010001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/c9/301ad5205d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/c9/c0e99faa5d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/cd/c0087969cb10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ce/50b12c435412001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ce/d0c7e6155912001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/d1/4058c8b45a12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/d1/e02dafbdc910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/d3/c0f85c88c910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/d7/8097e3aab210001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/d8/409ce78abe10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/d9/10868e33dd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/da/7087a31e4d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/db/f0c363834d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/dd/609b8b04c310001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/dd/d0f3e253cc10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/e1/901cd6cc5c12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/e3/a0b8901fc310001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/e4/203e4d88c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/e6/0017a456c910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/e6/b00c24f4ab10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ea/507fe669c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ec/105407d84f12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ec/4032d038dd10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/ec/80912b415112001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f2/b0941f81aa10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f4/60318ee35d12001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f6/d0663801c510001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f7/c0b89b56ac10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f8/9046e329cf10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f9/b0f38c15c710001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/f9/f05d209dd410001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/fc/b0215251ca10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/fc/e0bd1af4ab10001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/fd/20066e605812001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.history/fd/607ff906c910001f1bcb92dc5d447bd6
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/.indexes/e4/87/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/javasnacks/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.dash:Docker.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Jsnack2.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/mainJSnack1.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2574964051.index
.metadata/.plugins/org.eclipse.jdt.core/2612228949.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/10.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/11.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/javasnacks/2024/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/javasnacks/2024/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/javasnacks/2024/5/20/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/javasnacks/2024/5/20/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.0.20240217-1525.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
javasnacks/.classpath
javasnacks/.project
javasnacks/.settings/org.eclipse.jdt.core.prefs
javasnacks/.settings/org.eclipse.core.resources.prefs
.DS_Store
